<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>624214482795-1kln6g8kgvd9tg1kmd62th0diu6vq3v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624214482795-1kln6g8kgvd9tg1kmd62th0diu6vq3v8</string>
	<key>API_KEY</key>
	<string>AIzaSyDcjyfqd8N3ZR5XIPewFHZngmmZlpqCfWw</string>
	<key>GCM_SENDER_ID</key>
	<string>624214482795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdhimmel.SleepingBeauty</string>
	<key>PROJECT_ID</key>
	<string>sleeping-beauty-19cde</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeping-beauty-19cde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624214482795:ios:d5f58d21aa467aec</string>
	<key>DATABASE_URL</key>
	<string>https://sleeping-beauty-19cde.firebaseio.com</string>
</dict>
</plist>